/* === LAYOUT_PORTFOLIO.CSS === */
    
    .portfolio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        gap: var(--space-4);
        padding-bottom: var(--space-6);
    }
