/* === LAYOUT_GENERAL .CSS === 

    Use IDs ("#xyz") for elements that are one time use.
    Use classes (".xyz") for things that repeat - remember DRY (Do not Repeat Yourself).

*/

/* set default HTML attributes */
/* ============================================== */
   
    body { 
        background: var(--colour-bg-primary); 
        color: var(--colour-text); 
        font-family: var(--font-family); 
        font-size: var(--font-base); 
        line-height: var(--line-height);
    }

    /* Set all links to the same style */
    a, a:visited, a:active {
        color: var(--colour-primary);
        text-decoration: none;
    }

    article {
        position: absolute;
        top: var(--height-header);
        width: 100%;
        padding: 0 5% 0 5%;
    }

    section {
        width: 100%;
        padding: var(--space-4);    
    }

    div {
        width: 100%;
        text-align: left;
        background: var(--colour-accent);
        padding: var(--space-4) var(--space-4) 0 var(--space-4);
    }

    span {
        width: 100%;
        padding: 1rem;
        background: var(--colour-accent)
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--colour-secondary);
        margin-bottom: 0.5rem;
    }

    p {
        margin-bottom: var(--space-3);
    }

    p:last-child{
        margin-bottom: 0;
    }


/* Containers */
/* ============================================== */

    /* used by ARTICLES to group an entire page of related content */
    .container{
    margin-top: 70px; /* provides a gap between containers */
    }

    /* used by SECTIONS to group a section of related content */
    .sub_container {
        background: brown;
        padding: 0 10% 40px 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #link_to_top_div{
        display: none;
    }


/* Footer */
/* ============================================== */



/* Spacing */
/* ============================================== */



/* Flex helpers */
/* ============================================== */



/* Responsive helpers */
/* ============================================== */

