/* === LAYOUT_GENERAL .CSS === 

        IDs and Classes
            Use IDs ("#xyz") for elements that are one time use.
            Use classes (".xyz") for things that repeat - remember DRY (Do not Repeat Yourself)

        Naming conventions
            files = use lowercase and join words using underscores 'this_is_an_example.php'
            IDs = use PascalCase
            classes = use camelCase

            use the 'object-oriented css' convention, where an abject is referenced via '--'
            e.g. 
                .boxOne{} 
                .boxOne--rounded{}
                .boxOne--big{}
                .boxOne--small{}

        Layout CSS is broken down into 6 different files
        - general
        - header
        - homepage
        - services
        - about
        - contact

        It is done this way so that each part of the site can have it's own specific styling, whilst also maintaining a sitewide consistent look and feel.
        
        More info on specific parts
            - Navigation
                The main header is made up of 3 parts, the logo, small device navigation and large device navigation. All three are in fixed positions, but the visibility changes depending on the size of the viewing device.
            
            - Layout
                The navigation bars are all fixed positions of the same height.
                Then, directly underneath is a page container that is positioned absolutely underneath the navigation bar (using position: absolute, margin-top: (height of the nav in px); top: 0;) and sits immediately underneath the navigation bar.
                Within that there is a sub container
                All further elements are children items within the sub container.            

    */

/* set default HTML attributes */
/* ============================================== */
   
    body { 
        background: var(--colour-bg-primary); 
        color: var(--colour-text); 
        font-family: var(--font-family); 
        font-size: var(--font-base); 
        line-height: var(--line-height);
    }

    div {
        width: 100%;
        text-align: left;
        padding: var(--space-4) var(--space-4) 0 var(--space-4);
    }

    span {
        width: 100%;
        padding: 1rem;
        background: var(--colour-accent)
    }

    /* article {

    }

    section {
   
    } */

    a, a:visited, a:active {
        color: var(--colour-primary);
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--colour-secondary);
        margin-bottom: 0.5rem;
    }

    p {
        margin-bottom: var(--space-3);
    }

    p:last-child{
        margin-bottom: 0;
    }

/* Anchors */
/* ============================================== */

    .anchor{
        position: relative;
        top: calc((var(--height-header) + var(--space-4) + 5px ) *-1);
    }

/* Containers */
/* ============================================== */

    /* only used once per page to group the entire page AFTER THE HEADER */
    .pageContainer{
        position: absolute;
        top: var(--height-header);
        width: 100%;
        padding: 0;
    }

    /* group a section of related content */
    .subContainer{
        position:static;
        background: linear-gradient(to right, rgba(var(--colour-bg-secondary-transparent), 0.05), var(--colour-heading), rgba(var(--colour-bg-secondary-transparent), 0.05));
        padding: var(--space-4) 5% 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

            /* LARGER DEVICES */
            /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

            @media (min-width: 640px){
                .subContainer{
                    padding: var(--space-4) 10% 0 10%;
                }
            }

            @media (min-width: 960px){
                .subContainer{
                    padding: var(--space-4) 20% 0 20%;
                }
            }

    #LinkToTop{
        position: fixed;
        bottom: 15px;
        left: 50%;
        display: none; /* a script changes this to 'flex' once the screen is scrolled down at all */
        padding: 0;
        height: 4rem;
        width: 4rem;
        color: var(--colour-secondary);
        background: rgba(var(--colour-primary-transparent), .9);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        text-align: unset;
    }


/* Footer */
/* ============================================== */

    #Footer{
        padding: 0;
    }

    footer{
        position: static;
        height: var(--height-footer);
        width: 100%;
        background: var(--colour-bg-secondary);
        padding: var(--space-4);
        font-size: var(--fs-xs);
    }


/* Spacing */
/* ============================================== */



/* Flex helpers */
/* ============================================== */



/* Responsive helpers */
/* ============================================== */

