/* === LAYOUT_ABOUT.CSS === */

    /* PRICES */

        table.prices{
            width: 70%;
            min-width: 300px;
            max-width: 800px;
            justify-self: center;
            border: solid 1px grey;
            margin-bottom: var(--space-fixed-2);
        }

        table.prices th{
            background: #666;
            color: #ccc;
        }

        table.prices td:nth-child(1){
            background: #aaa;
        }

        table.prices tr td:nth-child(2){
            background: #888;
            color: #fff;
        }

        table.prices td:nth-child(3){
            background: #777;
            color: #fff;
        }

    /* NEXT STEPS */