/* === LAYOUT_SERVICES.CSS === */

    /* DESCRIPTION OF SERVICE section */
    /* ============================================== */

        /* styling for the Service*/
        .descriptionOfService{
            text-align: unset;
            padding: 0 var(--space-4) var(--space-4) var(--space-4);
            border-width: 5px;
            border-style: solid;
            border-color: white;
            background: linear-gradient(to right bottom, #B9B9B9, #D9D9D9);
        }

                /* Make heading 1s have different margins and colour */
                .descriptionOfService > h1{
                    color: var(--colour-heading);
                    margin-top: var(--space-fixed-1);
                    margin-bottom: var(--space-fixed-1);
                }
    
        /* The first DIV of the 'Description'. This is the only part shown on the Homepage */
        .summaryOfService{
            padding: 0 0 var(--space-4);
        }

        /* Each service has an image associated with it. */
        .summaryOfService img{
            object-fit: contain;
            float: left;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }

        /* button to find out more about the service */
        .clickForDetails{        
            padding: 0;
        }

                /* The button is nested inside an A tag */
                .clickForDetails a{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    justify-content: center;
                    text-align: unset;
                }
        
                    /* The button itself is a SPAN */
                    .buttonClickForDetails {
                        display: block;
                        background: rgb(50, 140, 130);
                        padding: 0.5rem 1rem;
                        border: 1px solid black;
                        color: white;
                        width: fit-content;
                    }

        /* The second DIV of the 'Description' gives more information about the service */
            .detailsOfAService{
                padding-top: 0; /* Removes the unnecessary duplication of padding */
            }

                /* MOBILE & SMALLER DEVICES */
                /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

                    @media (max-width: 960px){

                        /* make image smaller */
                        .banner{
                            height: 150px;
                        }
                        
                    }

                /* LARGER DEVICES */
                /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

                    @media (min-width: 961px){

                        /* make image bigger */
                        .banner{
                            height: 250px;
                        }

                        /* move the position of the button */
                        .clickForDetails a{
                            justify-content: start;
                        }
                        
                    }

    /* BENEFITS section */
    /* ============================================== */

            .benefits_container{
                display: flex;
                flex-direction: column;
            }

            .benefits_span{
                margin-bottom: 2rem;
                text-align: left;
            }

            .benefits_span:last-child{
                margin-bottom: 0;
            }


    /* PRICING section */
    /* ============================================== */

        .prices div{
            padding-bottom: 1rem;
        }


    /* NEXT STEPS section */
    /* ============================================== */

        .next_steps div{
            padding-bottom: 1rem;
        }

        .call_us{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

                .call_us img{
                    width: 25%;
                }

                /* LARGER DEVICES */
                /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

                @media (min-width: 961px){
                    .call_us img{
                        width: 35%;
                    }
                }




