/* === LAYOUT_SERVICES.CSS === */

    /* DESCRIPTION OF SERVICE section */
    /* ============================================== */

        /* .description{} */
    
        /* The first DIV of the 'Description'. This is the only part shown on the Homepage */
        .summaryOfService{
            padding: 0;
            border: none;
            margin-bottom: 1rem;
            min-height: 150px;
            border: none;
        }

                /* LARGER DEVICES */
                /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

                @media (min-width: 640px){
                    
                    /* make summaryOfService bigger */
                    .summaryOfService{
                        min-height: 225px;
                    }

                }

                @media (min-width: 960px){
                        
                    /* make summaryOfService bigger */
                    .summaryOfService{
                         min-height: 300px;
                    }

                }

                
        /* Each service has an image associated with it. */
        .summaryOfService img{
            object-fit: cover;
            height: 150px;
            max-height: 150px;
            width: 100%;
            float: left;
            padding: 0;
        }

                /* LARGER DEVICES */
                /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

                    @media (min-width: 400px){

                        /* make image bigger */
                        .summaryOfService img{
                            width: fit-content;
                            padding: 0 1rem 0 0;
                        }

                    }

                    @media (min-width: 640px){

                        /* make image bigger */
                        .summaryOfService img{
                            height: 225px;
                            max-height: 225px;
                        }

                    }

                    @media (min-width: 960px){

                        /* make image bigger */
                        .summaryOfService img{
                            height: 300px;
                            max-height: 300px;
                        }

                    }
                            

        /* button to find out more about the service */
        .clickForDetails{        
            padding: 0;
            border: none;
            background: none;
        }

        /* The button is nested inside an A tag */
        .clickForDetails a{
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 0;
            justify-content: center;
        }

                /* LARGER DEVICES */
                /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

                    @media (min-width: 640px){

                        /* move the position of the button */
                        .clickForDetails a{
                            justify-content: start;
                        }     
                        
                    }
        
        /* The button itself is a SPAN */
        .buttonClickForDetails {
            display: block;
            background: rgb(50, 140, 130);
            padding: 0.5rem 1rem;
            border: 1px solid black;
            color: white;
            width: fit-content;
        }

        /* The second section of the 'Description' gives more information about the service */
        .detailsOfService{
            padding: 0; /* Removes the unnecessary duplication of padding */

            & h3{

                margin-top: var(--space-2);

            }
        }

    /* DESCRIPTION section */
    /* ============================================== */ 
    
        /* .description{} */


    /* BENEFITS section */
    /* ============================================== */

        .benefits{
            display: block;
            margin-bottom: 2rem;
            text-align: left;
            padding: 1rem;
            border-radius: 10px;
        }

        .benefits:last-child{
            margin-bottom: 0;
        }

    /* PRICES section */
    /* ============================================== */

        table.prices{
            width: 70%;
            min-width: 300px;
            max-width: 800px;
            justify-self: center;
            border: solid 1px grey;
            margin-bottom: var(--space-fixed-2);
        }

        table.prices th{
            background: #666;
            color: #ccc;
        }

        table.prices td:nth-child(1){
            background: #aaa;
        }

        table.prices tr td:nth-child(2){
            background: #888;
            color: #fff;
        }

        table.prices td:nth-child(3){
            background: #777;
            color: #fff;
        }

    /* PORTFOLIO section */
    /* ============================================== */

        /* see portfolio CSS file */

    /* CASE STUDIES section */
    /* ============================================== */
  

    /* NEXT STEPS section */
    /* ============================================== */

        /* .nextSteps{} */



