/* === LAYOUT_PORTFOLIO.CSS === */

    /* Class */
    /* .portfolio{
    } */

    .text--Portfolio{
        padding: var(--space-6);
        margin-bottom: var(--space-4);
        background: #DDD;
        border-radius: 10px;
    }

    .portfolio--Section-Title-NoBottomMargin{
        margin-bottom: 0;
        padding: 0;
    }

    .portfolio--Section-Title-MoreBottomMargin{
        margin-bottom: var(--space-6);
        padding: 0;
    }

    .portfolio--Section-SubTitle{
        margin-bottom: 1.5rem;
        padding: 0;
        color: var(--colour-heading-1);
    }

    .portfolio--SubSection-Title{
        color: var(--colour-heading-1)
    }

    /* Each service has one or more portfolio image/s associated with it. */
    .portfolioImage--FloatLeft{
        padding: 0;
        margin: var(--space-1) var(--space-4) var(--space-2) 0 ;
        object-fit:contain;
        float: left;
    }

        /* LARGER DEVICES */
        /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

            @media (min-width: 399px){

                /* make image bigger */
                .portfolioImage--FloatLeft{
                    width: 200px;
                }

                .text--Portfolio{
                    min-height: 200px;
                }

            }

            @media (min-width: 639px){

                /* make image bigger */
                .portfolioImage--FloatLeft{
                    width: 250px;
                }

                .text--Portfolio{
                    min-height: 300px;
                }

            }

            @media (min-width: 959px){

                /* make image bigger */
                .portfolioImage--FloatLeft{
                    width: 450px;
                }

                .text--Portfolio{
                    min-height: 350px;
                }

            }

    .portfolio--Summary{
        margin-bottom: 1rem;
    }