/* === LAYOUT_CONTACT.CSS === */

#ContactForm{
    padding: 0 15%;
    text-align: left;
}

#ContactForm input{
    display: block;
    width: 100%;
    margin-bottom: var(--space-1);
}

#ContactForm textarea{
    display: block;
    width: 100%;
    margin-bottom: var(--space-1);
}

#ContactForm button{
    margin-bottom: var(--space-fixed-1);
}