/* === LAYOUT_HEADER.CSS === */

    /* Logo */
    /* ============================================== */

        /* The container div for the logo */
        #LogoContainer {
            position: fixed;
            top: 0;
            left: 0;
            height: var(--height-header);
            background: var(--colour-bg-secondary);
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: var(--z-bottom);
        }
            
        /* The logo increases in size for larger devices  */
        @media (max-width: 461px){
                .logo {
                    width: 65%;
                    justify-self: center;}
        }

    /* Navigation (smaller devices) */
    /* ============================================== */

        /* do not show the standard navigation menu as standard */
        #navbar_dropdown {
            display: none;
        }
        
        /* this keeps the child elements inside the primary disclosure  */
        #disclosure_one summary {
            display:flex;
        }

        /*  Hamburger icon (inactive) - controls the display of the initial hamburger icon */
        #disclosure_one #hamburger {
            position: fixed;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            margin: 10px;
            background-color: transparent;
            cursor: pointer;
            background-image: url('/assets/images/other/hamburger_icon_small.webp');
            background-repeat: no-repeat;
            z-index: var(--z-top);
        }

        /*  Hamburger icon (active) - controls the display of the second hamburger icon */
        #disclosure_one[open] #hamburger {
            background-image: url('/assets/images/other/hamburger_icon_small_active.webp');
            background-repeat: no-repeat;
        }

        /* format the content of the primary disclosure space */
        #disclosure_one[open]::details-content {
            position: absolute;
            top: var(--height-header);
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            z-index: var(--z-top);
        }

        /*  format all the items within the primary disclosure (note. this is why the 'nav' was used) */
        #navbar_for_mobile span.link {
            display: block;
            color: var(--disclosure-colour-primary);
            background-color: var(--disclosure-colour-bg-primary);
            border-bottom: var(--disclosure-border);
            padding: var(--space-1);
            padding-left: var(--space-4);
        }
        
        /* format the secondary disclosure (the actual cell within the primary disclosure)  */
        #disclosure_two summary {
            color: var(--disclosure-colour-primary);
            background-color: var(--disclosure-colour-bg-primary);
            padding: var(--space-1);
            padding-left: var(--space-4);
            border-bottom: var(--disclosure-border);
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

         /* Arrow - inactive */
        #disclosure_two summary span.arrow {                   
            border-top-width: var(--disclosure-triangle-size);
            border-top-style: solid;
            border-top-color: transparent;
            border-right: none;
            border-bottom-width: var(--disclosure-triangle-size);
            border-bottom-style: solid;
            border-bottom-color: transparent;
            border-left-width: var(--disclosure-triangle-size);
            border-left-style: solid;
            border-left-color: var(--disclosure-triangle-colour);
            margin-left: var(--disclosure-triangle-margin);
            background: transparent;
            width: fit-content;
            padding: 0;
        }

        /* Arrow - inactive (hover) */
        #disclosure_two summary:hover {
            color: var(--disclosure-colour-secondary);
            background-color: var(--colour-primary);

            & span.arrow {
                border-left-width: var(--disclosure-triangle-size);
                border-left-style: solid;
                border-left-color: var(--disclosure-triangle-colour-hover);;
            }
        }

        /*  Arrow - active */
        #disclosure_two[open] summary {
            color: var(--disclosure-colour-secondary);
            background-color: var(--colour-primary);

            & span.arrow {
                transform: rotate(90deg);
                border-left-width: var(--disclosure-triangle-size);
                border-left-style: solid;
                border-left-color: var(--disclosure-triangle-colour-open);
            }
        }

        /* format the content of the secondary disclosure space  */
        #disclosure_two[open]::details-content {
            display:flex;
            flex-direction: column;
        }

        /*  Indent the items in the secondary disclosure */
        #navbar_for_mobile span.service {
            padding-left: var(--space-6);
        }

        /* change the items in the secondary disclosure when hovered over  */
        #navbar_for_mobile span.link:hover {
            color: #d4d4d4;
            background-color: var(--colour-primary);
        }


/* Navigation (larger devices) */
/* ============================================== */

        /* hide the 'hamburger menu' for larger devices and desktops and move the logo to make room for standard navigation*/
        @media (min-width:961px){ 
            
            /* Hide 'hamburger menu' */
            #disclosure_one {
                display: none;
            }

            /*  Move logo to left, reduce width of div and increase z-index */
            #LogoContainer{
                justify-content: left;
                padding-left: var(--space-4);
                width: fit-content;
                z-index: var(--z-top);
            }

            /* Show 'navbar'  */
            #navbar_dropdown {
                position: fixed;
                top: 0;
                left: 0;
                height: var(--height-header);
                background: var(--colour-bg-secondary);
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                z-index: var(--z-bottom);
            }
                            
            /* Navbar links */
            #navbar_dropdown a {
                margin-right: var(--navbar-dropdown-parent-margin);
                font-size: var(--navbar-dropdown-parent-font-size);
                font-weight: var(--navbar-dropdown-parent-font-weight);
            }

            /*   */
            #navbar_dropdown button {
                display: inline;
                background-color: transparent;
                /* padding: var(--space-1); */
                border: 0;
            }
                            
            /* Dropdown content (hidden by default) */
            .dropContent {
                display: none;
                position: absolute;
                background: var(--navbar-dropdown-child-bg-colour);
                box-shadow: var(--shadow-xl);
                text-align: left;
                padding: 0px;
                width: fit-content;
                min-width: 250px;
                /* margin-top: var(--space-1); */
                /* z-index: var(--z-top); */
            }

            /* Links inside the dropdown */
            .dropContent a {
                display: block;
                font-size: 14px;
                padding: var(--navbar-dropdown-child-padding);
                width: 100%;
            }

            /* Change color of dropdown links on hover */
            .dropContent a:hover {
                background-color: var(--colour-primary);
                color: var(--navbar-dropdown-child-font-colour-hover);
            }

            /* Show the dropdown menu on hover */
            .dropButton:hover .dropContent {
                display: block;
            }
        }