/* === LAYOUT_HOMEPAGE.CSS === */

/* Introduction */
/* ############################################# */

        /* INTRODUCTION
        - contains the 'elevator pitch', the 'description' text, and shortcuts to the differing services available (which display differently depending on the size of the device).  */
        
        #introduction {
            position: absolute;
            top: 70px;
            
            min-height: 100vh;
            background-image: url('/assets/images/other/about_us_background.webp');
            background-size: cover;
            background-repeat: no-repeat;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items:center;
        }

                /* ELEVATOR PITCH
                - states the primary purpose of the business */
                
                #elevator_pitch {
                    position: relative;   
                    background: rgba(var(--colour-primary-transparent), 0.8);
                    height: var(--height-elevator-pitch);
                    color: var(--colour-bg-secondary);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                /* OVERVIEW
                - Split into two sections, the DESCRIPTION and the SERVICES  */

                #overview{
                    position: relative;
                    background: #ffffff;    
                    display: flex;
                    flex-direction: column;
                }

                        #description{
                            background: red;
                        }

                        #services_smaller_devices{
                            background: green;
                        }

                        #services_larger_devices{
                            background: blue;
                        }



                        /* MOBILE & SMALLER DEVICES */

                            /* do not show 'services_larger_devices' section */
                            @media (max-width: 960px){
                                
                                #services_larger_devices{
                                    display: none;
                                }
                            }

                        /* LARGER DEVICES */

                            /* do not show 'services_smaller_devices' section */
                            @media (min-width: 961px){
                                
                                #services_smaller_devices{
                                    display: none;
                                }

                                #overview{
                                    flex-direction: row;
                                }

                                #description{
                                    width: 40%;
                                }

                                #services_larger_devices{
                                    width: 60%;
                                }
                        }

        

        /* #introduction section {
            margin-bottom: 0;
            padding-bottom: 0;
            max-width: 90rem;
            background: rgba(240, 240, 240, 0.85);
        }
    

        #introduction div {
            margin: 0;
            padding: 0;
            background: transparent;
        }




        #introduction #left {
            width: 35%;                  
            padding-top: 1.25rem;
            padding-right: 1rem;
            padding-bottom: 2rem;
            padding-left: 1rem;       
        }
    
        #introduction #right {
            width: 65%;
            padding-top: 1.25rem;
            padding-bottom: 2rem;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
        }

        #introduction #right span {
            display: block;
            position: relative;
            max-width: 50%;
            height: fit-content;
            margin-right: 0.35rem;
            margin-bottom: 0.35rem;
            border: solid #bbb .3rem;
            border-radius: 0rem .3rem 0rem .3rem;
        }

        #introduction #right span:last-child {
            margin-bottom: 1rem;
        }

        #introduction #right a {
            margin: 0;
            padding: 0;
        }

        #introduction #right span img {
            margin: 0;
            padding: 0;
            vertical-align: bottom;
        }

        #introduction #right span h3 {
            position:absolute;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 0.5rem 0.25rem;
            font-family: 'Libre Franklin';
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: -0.015rem;
            color: white;
            background: linear-gradient(to right, rgba(75, 75, 75, 1), rgba(75, 75, 75, 0.7) 50%, rgba(75, 75, 75, 1));
            text-align: left;
        } */