/* === LAYOUT_HEADER.CSS === */

    /* Logo */
    /* ============================================== */

        /* The container div for the logo */
        #LogoContainer {
            position: fixed;
            top: 0;
            left: 0;
            height: var(--height-header);
            background: var(--colour-background-3);
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: var(--z-bottom);
            border: none;
        }
            
        /* The logo increases in size for larger devices  */
        @media (max-width: 461px){
                .logo {
                    width: 65%;
                    justify-self: center;}
        }

        /* Do not show the navigation menu as standard. */
        #NavbarDropdown {
            display: none;
        }

        /* SMALLER DEVICE NAVIGATION (DISCLOSURE MENU) */
        /* ============================================== */

            /* Format all the items within both disclosures. */
            .smallDeviceMenuLink {
                display: flex;
                flex-direction: row;
                align-items: center;
                min-height: var(--disclosure-size);
                padding-left: var(--space-4);
                border-bottom: var(--disclosure-border);
            }

            /* Format all the items within both disclosures when hovered over. */
            .smallDeviceMenuLink:hover {
                color: #d4d4d4;
                background: var(--disclosure-colour-background-3);
            }
            
            /* Indent. */
            .indentLink {
                padding-left: var(--space-6);
            }

            /* Arrow. */
            .arrow{                   
                border-top-width: var(--disclosure-triangle-size);
                border-top-style: solid;
                border-top-color: transparent;
                border-right: none;
                border-bottom-width: var(--disclosure-triangle-size);
                border-bottom-style: solid;
                border-bottom-color: transparent;
                border-left-width: var(--disclosure-triangle-size);
                border-left-style: solid;
                border-left-color: var(--disclosure-triangle-colour);
                margin-left: var(--disclosure-triangle-margin);
                background: transparent;
                width: fit-content;
                padding: 0;
            }

            /* Background colour for the first level of options */
            .levelOne{
                background: var(--disclosure-colour-background-1);
            }

            /* Background colour for the first level of options */
            .levelTwo{
                background: var(--disclosure-colour-background-2);
            }

                /* DEVICES THAT HAVE HOVER */
                /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */


            /* DISCLOSURE ONE */
            /* ====================================================== */


                /* INACTIVE */
                /* %%%%%%%%%%%%%%%%%%%%%%% */
                
                    /* Summary: Hamburger icon - controls the display of the initial hamburger icon. */
                    #DisclosureOne #Hamburger {
                        background-image: url('/assets/images/header/hamburger_icon_small.webp');
                        background-repeat: no-repeat;
                        background-color: transparent;
                        position: fixed;
                        top: 0;
                        right: 0;
                        width: 50px;
                        height: 50px;
                        margin: 10px;
                        cursor: pointer;
                        z-index: var(--z-top);
                    }


                /* ACTIVE */
                /* %%%%%%%%%%%%%%%%%%%%%%% */

                
                    /* Summary: Hamburger icon - controls the display of the hamburger icon when the disclosure is active. */
                    #DisclosureOne[open] #Hamburger {
                        background-image: url('/assets/images/header/hamburger_icon_small_active.webp');
                        background-repeat: no-repeat;
                    }
                    
                    /* Format the content of the primary disclosure space. */
                    #DisclosureOne[open] {
                        position: fixed;
                        top: var(--height-header);
                        left: 0;
                        width: 100%;
                        z-index: var(--z-top);
                    }

                    /* Summary: stops the arrow showing in the summary. */
                    #DisclosureOne[open] summary::marker,
                    #DisclosureOne[open] summary::-webkit-details-marker  {
                        display:none;
                    }

                    /* Summary: stops the arrow showing in the summary. */
                    #DisclosureOne[open] summary {
                        list-style: none;
                    }


                    /* Set the text color */
                    #DisclosureOne[open] .smallDeviceMenuLink{
                        color: var(--disclosure-colour-1);
                    }

                    /* Set the text color when hovered over */
                    #DisclosureOne[open] .smallDeviceMenuLink:hover{
                        color: var(--disclosure-colour-2);
                    }

                        /* FOR DEVICES THAT DO NOT HAVE HOVER */
                        @media (hover: none) and (pointer: coarse){

                            /* Set the text color */
                            #DisclosureOne[open] .smallDeviceMenuLink{
                                color: var(--disclosure-colour-2);
                            }
                        }

            
        /* DISCLOSURE TWO */
        /* ====================================================== */


            /* INACTIVE */
            /* %%%%%%%%%%%%%%%%%%%%%%% */
            
                /* Summary. */
                #DisclosureTwo summary {
                    cursor: pointer;
                }

                

                /* Summary (hover). */
                #DisclosureTwo summary:hover {
                    color: var(--disclosure-colour-2);
                    background: var(--disclosure-colour-background-3);
                }
                
                /* Summary (hover) arrow. */
                #DisclosureTwo summary:hover .arrow {
                    border-left-width: var(--disclosure-triangle-size);
                    border-left-style: solid;
                    border-left-color: var(--disclosure-triangle-colour-hover);
                }

                /* FOR DEVICES THAT DO NOT HAVE HOVER */
                @media (hover: none) and (pointer: coarse){
                    
                    /* Summary. */
                    #DisclosureTwo summary {
                        color: var(--disclosure-colour-2);
                    }

                    /* Summary. */
                #DisclosureTwo summary.smallDeviceMenuLink {
                    background: var(--disclosure-colour-background-1);
                }

                    /* Summary arrow. */
                    #DisclosureTwo summary .arrow {
                        border-left-width: var(--disclosure-triangle-size);
                        border-left-style: solid;
                        border-left-color: var(--disclosure-triangle-colour-hover);
                    }
                }


            /* ACTIVE */
            /* %%%%%%%%%%%%%%%%%%%%%%% */


                /* Set the text color */
                #DisclosureTwo[open] summary.smallDeviceMenuLink{
                    color: var(--disclosure-colour-2);
                }

                /* Summary arrow. */
                #DisclosureTwo[open] summary .arrow {
                    transform: rotate(90deg);
                    border-left-width: var(--disclosure-triangle-size);
                    border-left-style: solid;
                    border-left-color: var(--disclosure-triangle-colour-open);
                }

                    /* FOR DEVICES THAT DO NOT HAVE HOVER */
                    @media (hover: none) and (pointer: coarse){
                        
                        /* Set the text color */
                        #DisclosureTwo[open] .smallDeviceMenuLink{
                                color: var(--disclosure-colour-1);
                            }

                        /* Summary. */
                        #DisclosureTwo[open] summary.smallDeviceMenuLink {
                            background: var(--disclosure-colour-background-3);
                        }  
                    }

/* LARGER DEVICE NAVIGATION (DROP DOWN) */
/* ============================================== */

        /* hide the 'hamburger menu' for larger devices and desktops and move the logo to make room for standard navigation*/
        @media (min-width:959px){ 
            
            /* Hide 'hamburger menu' */
            #DisclosureOne {
                display: none;
            }

            /*  Move logo to left, reduce width of div and increase z-index */
            #LogoContainer{
                justify-content: left;
                padding-left: var(--space-4);
                width: fit-content;
                z-index: var(--z-top);
            }

            /* Show 'navbar'  */
            #NavbarDropdown {
                position: fixed;
                top: 0;
                left: 0;
                height: var(--height-header);
                background: var(--colour-background-3);
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                z-index: var(--z-bottom);
            }
                            
            /* Navbar links */
            #NavbarDropdown a {
                margin-right: var(--navbar-dropdown-parent-margin);
                font-size: var(--navbar-dropdown-parent-font-size);
                font-weight: var(--navbar-dropdown-parent-font-weight);
            }

            /*   */
            #NavbarDropdown button {
                display: inline;
                background-color: transparent;
                border: 0;
            }
                            
            /* Dropdown content (hidden by default) */
            .dropContent {
                display: none;
                position: absolute;
                background: var(--navbar-dropdown-child-background-colour);
                box-shadow: var(--shadow-xl);
                text-align: left;
                padding: 0px;
                width: fit-content;
                min-width: 250px;
            }

            /* Links inside the dropdown */
            .dropContent a {
                display: block;
                font-size: 14px;
                padding: var(--navbar-dropdown-child-padding);
                width: 100%;
            }

            /* Change color of dropdown links on hover */
            .dropContent a:hover {
                background-color: var(--colour-1);
                color: var(--navbar-dropdown-child-font-colour-hover);
            }

            /* Show the dropdown menu on hover */
            .dropButton:hover .dropContent {
                display: block;
            }
        }