/* === LAYOUT_HEADER.CSS === */

/* Header */
/* ============================================== */

        /*  */
        header {
            background-color: var(--colour-bg-secondary);
            position: fixed;
            top: 0;
            left: 0;
            width: var(--full-screen-width);
            height: var(--header);
        }

/* Logo */
/* ============================================== */

        /* The container div for the logo */
        #logo_div {
            height: var(--height-header);
            display: flex;
            align-items: center;
            justify-content: center;
        }
            
        /* The logo increases in size for larger devices  */
        @media (max-width: 461px){ /* var(--bp-sm) */
                .logo {
                    width: 65%;
                    justify-self: center;}
        }

/* Navigation (smaller devices) */
/* ============================================== */

        /* do not show the standard navigation menu as standard */
        #navbar_dropdown {
            display: none;
        }
        
        /* this keeps the child elements inside the primary disclosure  */
        #disclosure_one summary {
            display:flex;
        }

        /*  Hamburger icon - inactive */
        #disclosure_one #hamburger_span {
            position: fixed;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            margin: 10px;
            background-color: transparent;
            cursor: pointer;
            background-image: url('/assets/images/other/hamburger_icon_small.webp');
            background-repeat: no-repeat;
        }

        /*  Hamburger icon - active */
        #disclosure_one[open] #hamburger_span {
            background-image: url('/assets/images/other/hamburger_icon_small_active.webp');
            background-repeat: no-repeat;
        }

        /* format the content of the primary disclosure space */
        #disclosure_one[open]::details-content {
            position: fixed;
            top: var(--height-header);
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        /*  format all the items within the primary disclosure (note. this is why the 'nav' was used) */
        #navbar_for_mobile span.link {
            display: block;
            color: var(--disclosure-colour-primary);
            background-color: var(--disclosure-colour-bg-primary);
            width: 100%;
            border-bottom: var(--disclosure-border);
            padding: 0.25rem;
            padding-left: 1rem;
        }
        
        /* format the secondary disclosure (the actual cell within the primary disclosure)  */
        #disclosure_two summary {
            color: var(--disclosure-colour-primary);
            background-color: var(--disclosure-colour-bg-primary);
            padding: 0.25rem;
            padding-left: 1rem;
            border-bottom: var(--disclosure-border);
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

         /* Arrow - inactive */
        #disclosure_two summary span.arrow {                   
            border-top: 6px solid transparent;
            border-right: none;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #555;
            margin-left: 10px;
        }

        /* Arrow - inactive (hover) */
        #disclosure_two summary:hover {
            color: var(--disclosure-colour-secondary);
            background-color: var(--disclosure-colour-bg-secondary);

            & span.arrow {
                border-left: 6px solid white;
            }
        }

        /*  Arrow - active */
        #disclosure_two[open] summary {
            color: var(--disclosure-colour-secondary);
            background-color: var(--disclosure-colour-bg-secondary);

            & span.arrow {
                transform: rotate(90deg);
                border-left: 6px solid #ffffff;
            }
        }

        /* Arrow - active (hover)*/
        #disclosure_two[open] summary:hover {
            color: var(--disclosure-colour-secondary);
            background-color: var(--disclosure-colour-bg-secondary);
                 
            & span.arrow {
                border-top: 6px solid transparent;
                border-right: none;
                border-bottom: 6px solid transparent;
                border-left: 6px solid #ffffff;
                margin-left: 10px;
            }
        }

        /* format the content of the secondary disclosure space  */
        #disclosure_two[open]::details-content {
            display:flex;
            flex-direction: column;
        }

        /*  Indent the items in the secondary disclosure */
        #navbar_for_mobile span.service {
            padding-left: 2rem;
        }

        /* change the items in the secondary disclosure when hovered over  */
        #navbar_for_mobile span.link:hover {
            color: #d4d4d4;
            background-color: var(--disclosure-colour-bg-secondary);
        }


/* Navigation (larger devices) */
/* ============================================== */

        /* hide the 'hamburger menu' for larger devices and desktops and move the logo to make room for standard navigation*/
        @media (min-width:961px){ 
            
            /* Hide 'hamburger menu' */
            #disclosure_one {
                display: none;
            }

            /*  Move logo to left */
            #logo_div{
                justify-content: left;
                padding-left: var(--space-4);
            }

            /* Show 'navbar' (including dropdown menu)  */
            #navbar_dropdown {
                position: absolute;
                top: 0;
                background: transparent;
                height: var(--height-header);
                width: 100%;
                min-width: calc(100% - 280px);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
                            
            /*   */
            #navbar_dropdown a {
                margin-right: 1rem;
                font-size: 1rem;
                font-family: 'Inter';
                font-weight: 600;
            }

            /*   */
            #navbar_dropdown button {
                display: inline;
                background-color: transparent;
                padding: 0.3rem;
                border: 0;
            }
                            
            /* Dropdown content (hidden by default) */
            .dropContent {
                display: none;
                position: absolute;
                background: #f1f1f1;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
                text-align: left;
                margin-top: 5px;
                padding: 0px;
                min-width: 250px;
            }

            /* Links inside the dropdown */
            .dropContent a {
                font-size: 14px;
                padding: 12px 16px;
                display: block;
                width: 100%;
            }

            /* Change color of dropdown links on hover */
            .dropContent a:hover {
                background-color: rgb(50, 140, 130);
                color: #eee;
            }

            /* Show the dropdown menu on hover */
            .dropButton:hover .dropContent {
                display: block;
            }
        }