/* === LAYOUT_ABOUT.CSS === */

    /* for DESCRIPTION class, see layout_services.css */

    /* for BENEFITS class, see layout_services.css */

    /* for PRICES class, see layout_services.css */

    /* for PORTFOLIO class, see layout_services.css */

    /* for CASE STUDIES class, see layout_services.css */

    /* for NEXT STEPS class, see layout_services.css */