/*  SITE STANDARDS
        navigation bar = #fff
        background = #555
        sub-boxes = #777
        boxes = #D9D9D9
        LOGO
            TEAL (RGB) 50, 140, 130
            RED (RGB) 215, 35, 35

        - Article > section > div > span
        - Use ID for elements that are one time use
        ##################################################################
        DO NOT REPEAT YOURSELF - use classes for things that repeat
        ##################################################################
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

body {
    color: #555;
    background: linear-gradient(to right, #777, #555 25%, #999);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 100;
}

    /* smartphones, iPhone, portrait 480x320 phones */
    @media (min-width:320px)  {

        /* HTML elements */
        /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
        /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
        
            body {
                margin-top: 70px;
            }
        
            header {
                background-color: white;
            }    

            article {
                margin: 0 0 1rem 0;
                padding: 0 1% 0 1%;
                display: flex;
                flex-direction: column;
                align-content: center;
                font-size: .9rem;
            }

            section {
                padding: .5rem;     
                background: linear-gradient(to bottom right,#777, #666 );
                border-radius: 5px;
            }

            div {
                background: linear-gradient(to right bottom, #B9B9B9, #D9D9D9);
                padding: 1rem;
            }

            h1, h2, h3, h4, h5, h6 {
                color: white;
                margin-bottom: 0.5rem;
            }
            
            h1 {
                font-size: 1.5rem;
                text-align: center;
            }

            h3 {
                font-size: 1rem;
                text-align: center;
                letter-spacing: 0.05rem;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 0.5rem;
                line-height: 1.25rem;
            }

            ul {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            li {
                margin-left: 1.2rem;
                margin-bottom: 0.2rem;
            }

            a, a:visited, a:active {
                text-decoration: none;
                color: #555;
            }

            img {
                height: 100%;
                width: 100%;
                vertical-align: bottom;
                margin-bottom: 1rem;
            }

        /* Elements By ID */
        /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
        /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
        
            /* Header & Menu */
            /* ############################################# */

            #logo {
                height: 70px; 
                width: 100%;
                background: white;
                padding: 10px 0;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                z-index: 1;
                position: fixed;
                top: 0;
            }

            #logo img {
                object-fit: contain;
            }

            #hamburger {
                height: 50px;
                width: 50px;
                margin: 10px 0;
                cursor: pointer;
                z-index: 2;
                position: fixed;
                top: 0;
            }

            #disclosure_links summary {
                display:flex;
                justify-content: flex-end;
            }

            #disclosure_links #hamburger {
                background-image: url('/assets/images/other/hamburger_icon_small.webp');
                background-repeat: no-repeat;
            }

            #disclosure_links[open] #hamburger {
                background-image: url('/assets/images/other/hamburger_icon_small_active.webp');
                background-repeat: no-repeat;
            }

            #disclosure_links[open]::details-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                position: fixed;
                top: 70px;
            }
            
            #disclosure_services summary {
                background-color: white;
                padding: 0.25rem;
                padding-left: 1rem;
                border-bottom: 1px solid #555;
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            #disclosure_services summary:hover {
                color: white;
                background-color: rgb(50, 140, 130);

                & span.arrow {
                    border-left: 8px solid white;
                }
            }

            #disclosure_services[open] summary:hover {
                color: white;
                background-color: rgb(50, 140, 130);
                
                & span.arrow {
                    border-left: 8px solid white;
                }
            }

            #disclosure_services[open] summary {
                color: white;
                background-color: rgb(50, 140, 130);

                & span.arrow {
                    border-left-color: white;
                }
            }

            #disclosure_services[open]::details-content {
                display:flex;
                flex-direction: column;
            }

            nav {
                background-color: transparent;
                border-top: 2px solid #777;
                border-bottom: 2px solid #777;
                display: flex;
                flex-direction: column;
            }

            nav span.link {
                display: block;
                width: 100%;
                background-color: rgba(260, 260, 260, .9);
                border-bottom: 1px solid #555;
                padding: 0.25rem;
                padding-left: 1rem;
            }

            nav span.service {
                padding-left: 2rem;
            }

            nav span.link:hover {
                color: #d4d4d4;
                background-color: rgb(215, 35, 35);
            }
            
            #disclosure_services summary span.arrow {                   
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid #555;
                margin-left: 10px;
            }

            #disclosure_services[open] summary span.arrow {                  
                transform: rotate(90deg);
                margin-left: 10px;
            }

            /* About */
            /* ############################################# */

            #about {
                padding: 0 5% 0 5%;
                background-image: url('/assets/images/other/about_us_background.webp');
                background-size: cover;
                background-repeat: no-repeat;
                color: #555; 
            }

            #about section {
                width: 100%;
                background: rgba(240, 240, 240, 0.8);
                padding: 1rem 2rem;
                border-radius: 0;
            }

            #about section.elevator_pitch {
                background: rgba(50, 140, 130, 0.95);
                margin-top: 0.25rem;
                padding: 1rem;
                padding-bottom: 0;

                & h3 {
                    color: #D4D4D4;
                }
            }

            #about h3 {
                margin-bottom: 1rem;
                font-weight: 600;
                color: #555;
            }

            /* Services */
            /* ############################################# */
            
            #services {
                margin: 0 0 1rem 0;
                padding: 0 1% 0 1%;
                align-content: center;
                font-size: .9rem;
            }
        
            #services section {
                display: flex;
                flex-wrap: wrap;
                padding: 0.5rem;
            }

            #services a {
                display: block;
                flex: 45%;
                max-width: 50%;
                margin-bottom: 0.5rem;
                background-color: rgb(50, 140, 130);
                color: #d4d4d4;
                
                & :hover {
                    background-color: #999;
                    color: #d4d4d4;
                }
            }

            #services span {
                padding:0.3rem ;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #services a:nth-child(odd) {
                margin-right: .3rem;
            }

            #services a:nth-last-child(-n+2) {
                margin-bottom: 0;
            }

            /* Contact */
            /* ############################################# */

            #contact div {
                width: 100%; 
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-content: flex-start;
            }
            
            #contact p {
                display: block;
                width: 100%;
                text-align: left;
            }

            #contact_form {
                width: 100%;
                max-width: 60rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }

            #contact input, #contact textarea {
                padding: 5px;
                margin-bottom: 5px;
            }

            #contact_form input {
                width: 100%;
            }

            #contact_form textarea {
                width: 100%;
                min-height: 20rem;
            }

            #contact_form span {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }

            #contact_form button {
                flex-basis: 0%;
                padding: 0.25rem;
            }

            /* Legal */
            /* ############################################# */

            #legal h3 {
                color: #555;
                text-align: left;
                margin: 0;
            }

            /* Footer */
            /* ############################################# */

            footer section {
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0;
            }

            footer p {
                font-size: 0.75rem;
                margin: 0;
                padding: 0;
            }
        
        /* Classes */
        /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
        /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

            /* General */
            /* ............................................... */
            
            .call_us {
                display: block;
                width: 100%;
                text-align: center;
            }

            .call_us img {
                height: 30%;
                width: 30%;
            }

            .description {
                color: #555;
                width: 100%;
            }

            .first
        
            .margin_top { 
                margin-top: 1rem
            }

            .margin_bottom {
                margin-bottom: 0.5rem;
            }

            /* Overview */
            /* ............................................... */
            
            .overview section {
                display: flex;
                flex-direction: column;
            }

            .overview div {
                padding-right: 0;
            }

            .banner {
                float: left;
                width: 100%;
                max-width: 40rem;
                min-height: fit-content;
            }    

            .banner img {
                object-fit: contain;
                margin: 0;
                padding: 0 1rem 0.5rem 0;
            }

            .overview p {
                padding-right: 1rem;
            }

            .button_click_for_details {
                display: block;
                float: left;
                width: fit-content;
                margin: 0;
                padding: 0.6rem 1rem;
                text-align: center;
                border: 1px solid black;
                color: white;
                background-color: rgb(50, 140, 130);
            }

            /* Benefits */
            /* ............................................... */
            
            .benefits section {
                padding: 1rem 0.5rem;
                columns: 2;
            }
            
            .benefits span {
                display:block;
                margin-bottom: 1rem;
                padding: 1rem;
                word-break: break-word;
                break-inside:avoid;
                background-color: #d4d4d4;
                color: #555;
            }

            .benefits h4, h5 {
                color: #333;
            }

            /* Case Studies */
            /* ............................................... */
        
            .case_studies section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-bottom: 0;
            }
        
            .case_studies section.description {
                display: block;
                margin: 0;
                padding: 0.5rem;
            }
        
            .case_studies div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .case_studies span.banner {
                width: 100%;
                background-color: #555;
                color: #D4D4D4;
                margin-bottom: 0.5rem;
                padding: 0.5rem;
            }

            .case_studies span.left, .case_studies span.right {
                flex: 45%;
                max-width: 50%;
            }

            .case_studies span.left {
               padding: 0 0.5rem 0.5rem 0;
               font-weight: 600;

               & p {
                margin-top: 0.5rem;
               }
            }

            .case_studies span.right {
               padding: 0 0 0.5rem 0.5rem; 
            }

            .case_studies h2 {
                width: 100%;
            }

            .case_studies p {
                margin: 0;
            }

            .case_studies img {
                height: auto;
                width: 100%;
                margin: 0;
                padding: 0;
            }

            /* Prices */
            /* ............................................... */
            
            .prices table {
                width: 100%;
                max-width: 30rem;
                margin: 0 auto 0 auto;
                margin-bottom: 20px;
                width: 90%;
                color: #D9D9D9;
                background-color: #999;
                border-collapse: collapse;
                border: 1px solid #666;
            }

            .prices .table_left {
                width: 48%;
            }

            .prices .table_right {
                width: 26%;
            }

            .prices .title th {
                background-color: #555;
                padding-top: 5px;
                padding-bottom: 5px;
            }
                
            .prices .sub-title td {
                background-color: #666;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .prices td {
                padding-left: 10px;
                padding-top: 10px;
            }
        
            .prices td:nth-child(2), .prices td:nth-child(3) {
                text-align: center;
                border-left: 1px solid #666;
            }
            
            .prices tr:last-child td {
                padding-bottom: 10px;
            }

            .prices span {
                justify-content: center;
            }
  
            /* Next Steps */
            /* ............................................... */

            .next_steps span {
                display: block;
                margin: 0 auto;
                max-width: 40rem;
                min-height: fit-content;
            }

            /* Portfolio */
            /* ............................................... */
            
            .portfolio section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-bottom: 0;
            }
        
            .portfolio section.description {
                display: block;
                margin: 0;
                padding: 0.5rem;
            }
        
            .portfolio h2 {
                width: 100%;
            }

            .portfolio span {
                display: block;
                flex: 49%;
                max-width: 50%;
                border-bottom: rgba(0, 0, 0, 0) 0.5rem solid;
            }

            .portfolio span:nth-child(even) {
                border-right: rgba(0, 0, 0, 0) 0.25rem solid;
            }

            .portfolio span:nth-child(odd) {
                border-left: rgba(0, 0, 0, 0) 0.25rem solid;
            }

            .portfolio p {
                margin: 0;
            }

            .portfolio img {
                height: auto;
                width: 100%;
                margin: 0;
            }

    }

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    @media (min-width:481px)  {}

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    @media (min-width:641px)  {}

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    @media (min-width:961px)  {}

    /* big landscape tablets, laptops, and desktops */
    @media (min-width:1025px) {}

    /* hi-res laptops and desktops */ 
    @media (min-width:1281px) {}