/*  SITE STANDARDS
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        
---------------------------------------
    Logo
---------------------------------------
    TEAL (RGB) 50, 140, 130
    RED (RGB) 215, 35, 35


---------------------------------------
    Use of box elements:
---------------------------------------
    Article => 
        Section =>
            Div =>
                Span


---------------------------------------    
    Identifiers and classes
---------------------------------------
    Use IDs (#xyz)for elements that are one time use
    Use classes (.xyz) for things that repeat - remember DRY (Do not Repeat Yourself)


---------------------------------------
    Document layout
---------------------------------------
    > General - HTML
    >         - IDs
    >         - Classes        
    > Mobile  - HTML
    >         - IDs
    >         - Classes
    > Desktop - HTML
    >         - IDs
    >         - Classes
    
*/

/* GNENERAL HTML \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

These are the default settings for HTML tags site wide.
They are superceeded by general IDs or Classes, or by specific 'media queries' (that may have tags, IDs or Classes)

 */

    * {
        padding: 0px;
        margin: 0px;
        box-sizing:border-box;
    }

    body {
        margin-top: 70px;
        color: #555;
        background: linear-gradient(to right, #777, #555 25%, #999);
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        background-color: white;
        z-index: 100;
    }    

    article {
        position: static;
        margin: 0 0 1rem 0;
        padding: 0 1% 0 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .9rem;
    }

    section {
        padding: .5rem;     
        background: linear-gradient(to bottom right,#777, #666 );
        border-radius: 5px;
        width: 100%;
    }

    div {
        background: linear-gradient(to right bottom, #B9B9B9, #D9D9D9);
        padding: 1rem;
    }

    h1, h2, h3, h4, h5, h6 {
        color: white;
        margin-bottom: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 100;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
        letter-spacing: 0.05rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        line-height: 1.25rem;
    }

    ul {
        font-size: 0.75rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    li {
        margin-left: 1.2rem;
        margin-bottom: 0.2rem;
    }

    a, a:visited, a:active {
        text-decoration: none;
        color: #555;
    }

    img {
        height: 100%;
        width: 100%;
        vertical-align: bottom;
        margin-bottom: 1rem;
    }

/* GENERAL Elements By ID  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

General elements for any device

 */

    /* Introduction */
    /* ############################################# */

        #introduction {
            padding: 0 5% 0 5%;
            background-image: url('/assets/images/other/about_us_background.webp');
            background-size: cover;
            background-repeat: no-repeat;
        }

        #introduction section {
            width: 100%;
            background: rgba(240, 240, 240, 0.8);
            padding: 1rem 2rem;
            border-radius: 0;
            display: flex;
        }

        #introduction div {
            margin: 0;
            padding: 0;
            background: transparent;
        }

        #introduction section.elevator_pitch {
            background: rgba(50, 140, 130, 0.8);
            padding: 1rem;
            justify-content: center;

            & h3 {
                color: #D4D4D4;
                margin: 0;
                padding: 0;
            }
        }
    
    /* About */
    /* ############################################# */

        #about img {
            text-align: center;
            width: 200px;
            border: solid 1px black;
            margin: 0 auto;
        }
    
    /* Legal */
    /* ############################################# */

        #legal h3 {
            color: #555;
            text-align: left;
            margin: 0;
        }

    /* Link to top */
    /* ############################################# */

        #link_to_top_div {
            position: fixed;
            display: flex;
            justify-content: center;
            bottom: 20px;
            width: 100vw;
            height: fit-content;
            margin: 0;
            padding: 0;
            background: transparent;
            
        }

        #link_to_top_span {
            display: none;
            justify-content: center;
            align-items: center;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: 1px solid #CCC;
            background: rgba(255, 255, 255, 0.9);
        }

    /* Footer */
    /* ############################################# */

        footer section {
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0;
            margin-left: auto;
            margin-right: auto;
            z-index: 1;
        }

        footer p {
            font-size: 0.75rem;
            margin: 0;
            padding: 0;
        }

    /* GENERAL Classes \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
    
    General classes for any device
    
    */

        /* General */
        /* ............................................... */

            .call_us {
                display: block;
                width: 100%;
                text-align: center;
            }

            .call_us img {
                height: 30%;
                width: 30%;
            }

            .description {
                color: #555;
                width: 100%;
            }

            .margin_top { 
                margin-top:1rem;
            }

            .margin_bottom {
                margin-bottom: 0.5rem;
            }

            .title {
                font-weight: 900;
            }

        /* Overview */
        /* ............................................... */

            .overview section {
                display: flex;
                flex-direction: column;
            }

            .overview div {
                padding-right: 0;
            }

            .banner {
                float: left;
                width: 100%;
                max-width: 30rem;
                min-height: fit-content;
            }
            
            .overview .anchor {
                display: block;
                position: relative;
                top: -75px;
                visibility: hidden;
            }

            .banner img {
                object-fit: contain;
                margin: 0;
                padding: 0 1rem 0.5rem 0;
            }

            .overview p {
                padding-right: 1rem;
            }

            .button_click_for_details {
                display: block;
                float: left;
                width: fit-content;
                margin: 0;
                padding: 0.6rem 1rem;
                text-align: center;
                border: 1px solid black;
                color: white;
                background-color: rgb(50, 140, 130);
            }

        /* Benefits */
        /* ............................................... */

            .benefits section {
                padding: 1rem 0.5rem;
                columns: 2;
            }

            .benefits span {
                display:block;
                margin-bottom: 1rem;
                padding: 1rem;
                word-break: break-word;
                break-inside:avoid;
                background-color: #d4d4d4;
                color: #555;
            }

            .benefits h4, h5 {
                color: #333;
            }

        /* Case Studies */
        /* ............................................... */

            .case_studies section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-bottom: 0;
            }

            .case_studies section.description {
                display: block;
                margin: 0 auto;
                padding: 0.5rem;
            }

            .case_studies div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .case_studies span.banner {
                min-width: 100%;
                background-color: #555;
                color: #D4D4D4;
                margin-bottom: 0.5rem;
                padding: 0.5rem;
            }

            .case_studies span.left {
                width: 50%;
                max-width: 30rem;
                
                padding: 0 0.5rem 0.5rem 0;
                font-weight: 600;

                & p {
                    margin-top: 0.5rem;
                }
            }

            .case_studies span.right {
                min-width: 50%;
                max-width: calc(100% - 30rem);
                padding: 0 0 0.5rem 0.5rem; 
            }

            .case_studies h2 {
                width: 100%;
            }

            .case_studies p {
                margin: 0;
            }

            .case_studies img {
                height: auto;
                width: 100%;
                max-width: 30rem;
                margin: 0;
                padding: 0;
            }

        /* Prices */
        /* ............................................... */

            .prices table {
                width: 100%;
                max-width: 30rem;
                margin: 0 auto 0 auto;
                margin-bottom: 20px;
                width: 90%;
                color: #D9D9D9;
                background-color: #999;
                border-collapse: collapse;
                border: 1px solid #666;
            }

            .prices .table_left {
                width: 48%;
            }

            .prices .table_right {
                width: 26%;
            }

            .prices .title th {
                background-color: #555;
                padding-top: 5px;
                padding-bottom: 5px;
            }
                
            .prices .sub-title td {
                background-color: #666;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .prices td {
                padding-left: 10px;
                padding-top: 10px;
            }

            .prices td:nth-child(2), .prices td:nth-child(3) {
                text-align: center;
                border-left: 1px solid #666;
            }

            .prices tr:last-child td {
                padding-bottom: 10px;
            }

            .prices span {
                justify-content: center;
            }

        /* Next Steps */
        /* ............................................... */

            .next_steps span {
                display: block;
            }

            .next_steps img {
                max-width: 10rem;
            }
        /* Portfolio */
        /* ............................................... */

            .portfolio section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding-bottom: 0;
            }

            .portfolio section.description {
                display: block;
                margin: 0 auto;
                padding: 0.5rem;
            }

            .portfolio h2 {
                width: 100%;
            }

            .portfolio span {
                display: block;
                max-width: 50%;
                border-left: rgba(0, 0, 0, 0) 0.25rem solid;
                border-right: rgba(0, 0, 0, 0) 0.25rem solid;
                border-bottom: rgba(0, 0, 0, 0) 0.5rem solid;
            }

            .portfolio span:first-child {
                border-left: 0;
            }

            .portfolio span:last-child {
                border-right: 0;
            }

            .portfolio p {
                margin: 0;
            }

            .portfolio img {
                height: auto;
                width: 100%;
                margin: 0;
            }
           

        /* smartphones, iPhone, portrait 480x320 phones */
        @media (min-width:320px)  {

/* MOBILE HTML \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* MOBILE Elements By ID  
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

            /* Header & Menu */
            /* ############################################# */

                #navbar_dropdown {
                    display: none;
                }
            
                #logo {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 10px 0;
                    background: white;
                    text-align: center;
                    z-index: 1;
                }

                #logo img {
                    width: auto;
                    height:100%;
                    margin: 0;
                    padding: 0;
                }

                #hamburger {
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    margin: 10px;
                    background-color: transparent;
                    cursor: pointer;
                    z-index: 2;
                }

                #disclosure_links summary {
                    display:flex;
                    justify-content: flex-end;
                }

                #disclosure_links #hamburger {
                    background-image: url('/assets/images/other/hamburger_icon_small.webp');
                    background-repeat: no-repeat;
                }

                #disclosure_links[open] #hamburger {
                    background-image: url('/assets/images/other/hamburger_icon_small_active.webp');
                    background-repeat: no-repeat;
                }

                #disclosure_links[open]::details-content {
                    position: fixed;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    top: 70px;
                }

                #disclosure_services summary {
                    background-color: white;
                    padding: 0.25rem;
                    padding-left: 1rem;
                    border-bottom: 1px solid #555;
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                #disclosure_services summary:hover {
                    color: white;
                    background-color: rgb(50, 140, 130);

                    & span.arrow {
                        border-left: 8px solid white;
                    }
                }

                #disclosure_services[open] summary:hover {
                    color: white;
                    background-color: rgb(50, 140, 130);
                    
                    & span.arrow {
                        border-left: 8px solid white;
                    }
                }

                #disclosure_services[open] summary {
                    color: white;
                    background-color: rgb(50, 140, 130);

                    & span.arrow {
                        border-left-color: white;
                    }
                }

                #disclosure_services[open]::details-content {
                    display:flex;
                    flex-direction: column;
                }

                #navbar_for_mobile {
                    display: flex;
                    flex-direction: column;
                    background-color: transparent;
                    border-top: 2px solid #777;
                    border-bottom: 2px solid #777;
                }

                #navbar_for_mobile span.link {
                    display: block;
                    width: 100%;
                    background-color: rgba(260, 260, 260, .9);
                    border-bottom: 1px solid #555;
                    padding: 0.25rem;
                    padding-left: 1rem;
                }

                #navbar_for_mobile span.service {
                    padding-left: 2rem;
                }

                #navbar_for_mobile span.link:hover {
                    color: #d4d4d4;
                    background-color: rgb(50, 140, 130);
                }

                #disclosure_services summary span.arrow {                   
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 8px solid #555;
                    margin-left: 10px;
                }

                #disclosure_services[open] summary span.arrow {                  
                    transform: rotate(90deg);
                    margin-left: 10px;
                }

            /* Introduction */
            /* ############################################# */

                #introduction #right {
                    display: none;
                }

            /* Services */
            /* ############################################# */

                #services {
                    margin: 0 0 1rem 0;
                    padding: 0 1% 0 1%;
                    align-content: center;
                    font-size: .9rem;
                }

                #services section {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0.5rem;
                }

                #services a {
                    display: block;
                    flex: 45%;
                    max-width: 50%;
                    margin-bottom: 0.5rem;
                    background-color: rgb(50, 140, 130);
                    color: #d4d4d4;
                    
                    & :hover {
                        background-color: #999;
                        color: #d4d4d4;
                    }
                }

                #services span {
                    padding:0.3rem ;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #services a:nth-child(odd) {
                    margin-right: .3rem;
                }

                #services a:nth-last-child(-n+2) {
                    margin-bottom: 0;
                }

            /* Contact */
            /* ############################################# */

                #contact div {
                    width: 100%; 
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-content: flex-start;
                }

                #contact p {
                    display: block;
                    width: 100%;
                    text-align: left;
                }

                #contact_form {
                    width: 100%;
                    max-width: 60rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }

                #contact input, #contact textarea {
                    padding: 5px;
                    margin-bottom: 5px;
                }

                #contact_form input {
                    width: 100%;
                }

                #contact_form textarea {
                    width: 100%;
                    min-height: 20rem;
                }

                #contact_form span {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }

                #contact_form button {
                    flex-basis: 0%;
                    padding: 0.25rem;
                }
                
/* MOBILE Classes \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

        }

        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
        @media (min-width:481px)  {}

        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        @media (min-width:641px)  {}

        /* tablet, landscape iPad, lo-res laptops ands desktops */
        @media (min-width:961px)  {}

        /* big landscape tablets, laptops, and desktops */
        @media (min-width:1100px) {

/* DESKTOP HTML \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

            section {
                max-width: 70rem;
            }

            body {
                color: #333;
            }
                
        
/* DESKTOP Elements By ID  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
            
            /* Header & Menu */
            /* ############################################# */
            
                header a, a:visited, a:active {
                    color: rgb(50, 140, 130);
                }
            
                #disclosure_links {
                    display: none;
                }

                #logo {
                    width: fit-content;
                    padding-left: 10px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                }
                
                #navbar_dropdown {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 70px;
                    min-width: calc(100% - 280px);
                    background: transparent;
                }
                                
                #navbar_dropdown a {
                    margin-right: 1rem;
                    font-size: 1rem;
                    font-family: 'Inter';
                    font-weight: 600;
                }

                #navbar_dropdown button {
                    display: inline;
                    background-color: transparent;
                    padding: 0.3rem;
                    border: 0;
                }
                                
                /* Dropdown Content (Hidden by Default) */
                .dropContent {
                    display: none;
                    position: absolute;
                    background: #f1f1f1;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
                    text-align: left;
                    margin-top: 5px;
                    padding: 0px;
                    min-width: 250px;
                }

                /* Links inside the dropdown */
                .dropContent a {
                    font-size: 14px;
                    padding: 12px 16px;
                    display: block;
                    width: 100%;
                }

                /* Change color of dropdown links on hover */
                .dropContent a:hover {
                    background-color: rgb(50, 140, 130);
                    color: #eee;
                }

                /* Show the dropdown menu on hover */
                .dropButton:hover .dropContent {
                    display: block;
                }

            /* Introduction */
            /* ############################################# */

                #introduction section {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    max-width: 90rem;
                    background: rgba(240, 240, 240, 0.85);
                }
            
                #introduction #left {
                    width: 35%;
                    padding-top: 1.25rem;
                    padding-right: 1rem;
                    padding-bottom: 2rem; /* set to the same size as the righthand section because the text in this section should not be bigger than the tiles on the righthand */
                    padding-left: 1rem;
                
                    & p, ul {
                                font-size: 1rem;
                    }

                    & ul {
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                    }

                    & li {
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                    }          
                }
            
                #introduction #right {
                    display: block;
                    width: 65%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    padding-top: 1.25rem;
                    padding-bottom: 2rem;
                }

                #introduction #right span {
                    display: block;
                    position: relative;
                    max-width: 50%;
                    height: fit-content;
                    margin-right: 0.35rem;
                    margin-bottom: 0.35rem;
                    border: solid #bbb .3rem;
                    border-radius: 0rem .3rem 0rem .3rem;
                }

                #introduction #right span:last-child {
                    margin-bottom: 1rem;
                }

                #introduction #right a {
                    margin: 0;
                    padding: 0;
                }

                #introduction #right span img {
                    margin: 0;
                    padding: 0;
                    vertical-align: bottom;
                }

                #introduction #right span h3 {
                    position:absolute;
                    bottom: 0;
                    width: 100%;
                    margin: 0;
                    padding: 0.5rem 0.25rem;
                    font-family: 'Libre Franklin';
                    font-weight: 700;
                    font-size: 1rem;
                    letter-spacing: -0.015rem;
                    color: white;
                    background: linear-gradient(to right, rgba(75, 75, 75, 1), rgba(75, 75, 75, 0.7) 50%, rgba(75, 75, 75, 1));
                    text-align: left;
                }

            /* Services */
            /* ############################################# */

                #services {
                    display: none;
                }

/* DESKTOP Classes  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
        
            /* Prices */
            /* ............................................... */

                .prices table {
                    max-width: 50rem;
                }

        }

        /* hi-res laptops and desktops */ 
        @media (min-width:1281px) {}