/* === VARIABLES.CSS === */

:root {
  /* Colours */
  --colour-bg-primary: linear-gradient(to right, #777, #555 25%, #999);
  --colour-bg-secondary: rgb(240, 240, 240);
  --colour-bg-secondary-transparent: 240, 240, 240;
  --colour-bg-accent:rgb(255, 255, 255);
  --colour-bg-accent-transparent: 255, 255, 255;
  --colour-text: #333333;
  --colour-primary: rgb(50, 140, 130);
  --colour-primary-transparent: 50, 140, 130;
  --colour-secondary: #ffffff;
  --colour-accent: #777777;

  /* Typography */
  --font-base: 16px;
  --font-family: "Inter", Arial, sans-serif;
  --line-height: 1.5;

  /* Font sizes (mobile-first) */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;

  /* Spacing scale */
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem;  /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem;    /* 16px */
  --space-5: 1.5rem;  /* 24px */
  --space-6: 2rem;    /* 32px */
  --space-7: 3rem;    /* 48px */
  --space-8: 4rem;    /* 64px */
  --space-9: 5rem;    /* 80px */
  --space-fixed-1: 10px;

  /* Border radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-round: 999px;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0,0,0,0.08);
  --shadow-md: 0 2px 6px rgba(0,0,0,0.12);
  --shadow-lg: 0 4px 12px rgba(0,0,0,0.15);
  --shadow-xl: 0 8px 16px rgba(0,0,0,0.5);

  /* Breakpoints (mobile-first) */
  --bp-xs: 320px;
  --bp-sm: 461px;
  --bp-md: 641px;
  --bp-lg: 961px;
  --bp-xl: 1281px;

  /* Z-index scale */
  --z-bottom:1;
  --z-low: 10;
  --z-mid: 100;
  --z-high: 1000;
  --z-top: 9999;

  /* Heights */
  --height-header: 70px;
  --height-elevator-pitch: 60px;

  /* Disclosure */
  --disclosure-colour-primary: #333333;
  --disclosure-colour-secondary: white;
  --disclosure-colour-bg-primary: #cccccc;
  --disclosure-colour-bg-secondary: rgb(50, 140, 130);
  --disclosure-border: 1px solid #555555;
  --disclosure-triangle-size: 5px;
  --disclosure-triangle-colour: #555555;
  --disclosure-triangle-colour-hover: white;
  --disclosure-triangle-colour-open: white;
  --disclosure-triangle-margin: 10px;
  
/* Navbar menu */
  --navbar-dropdown-parent-margin: 0.75rem;
  --navbar-dropdown-parent-font-size: 1rem;
  --navbar-dropdown-parent-font-weight: 600;
  --navbar-dropdown-child-bg-colour: #f1f1f1;
  --navbar-dropdown-child-font-size: .75rem;
  --navbar-dropdown-child-padding: 12px 16px;
  --navbar-dropdown-child-font-colour-hover: #eeeeee;

  /* Services tiles */
  --services-tiles-img-height:175px;
  --services-tiles-h3-height:30px;
  --services-tiles-h3-font-family: 'Libre Franklin';
  --services-tiles-h3-font-weight: 700;
  --services-tiles-h3-font-size: 1rem;
  --services-tiles-h3-letter-spacing: 0.03rem;

}
